{% extends "Base.html" %}
{% block Headers %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Allura&family=Kaushan+Script&display=swap');

    h2 {
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;

    }

    .card {
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 5px 5px 5px 0px;

    }
    #CImg{
        box-sizing: border-box;
        overflow: hidden;
        height: 50%;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
    }
    a{
        text-decoration: none;
    }
    #content{
           overflow: hidden; height:100px;
           /* text-overflow: ellipsis; */
           font-weight: 500;
           color: rgb(182, 179, 179);
        }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Blog's</h2>
        </div>
    </div>
    <hr style="color:white">
    <div class="row mt-5">
        {% for i in data %}
        <div class="col-lg-4 mt-5 ">
            <div class="card" style="width: 18rem;height: 25rem;">
                <img src="{{i.Image}}" id="CImg" class="card-img-top" alt="Ai image">
                <a href="{% url 'Blog' i.Slug %}">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{i.Title}}</h5>
                        <p id="content" class="card-text text-dark">{{i.Content |striptags}}</p>
                        <a href="{% url 'Blog' i.Slug %}">Read More..</a>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}



    </div>
    
</div>
{% endblock %}